
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.nav-title{
  display:grid;
  gap:20px;
  grid-template-columns:repeat(2,1fr);
  

}
.head-pink{
  color:#FF42A5;
  font-size:1.5rem;
  font-weight:700;
}
.headgm{
 
  font-weight:700; 
}
nav{
  display:flex;
  justify-content: space-around;
  width:100%;
height: 130px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
align-items:center;
}

nav ul{
  display:flex;
}
nav li{
  list-style:none;
  margin-right:1rem;

}
nav a{
  text-decoration:none;
}
.iicon{
  padding-top:1.1rem;
}
#id{
  color: red;
  margin-left:3px;
}
.h33{
color: #0B0223;
font-size: 2.5rem;
font-weight: 600;
text-transform: uppercase;
}
.h22{
  margin-top:2px;
font-size: 4rem;
font-weight:700;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-primary1{
  
  padding: 21px 40px;
  border-radius: 48px;
  background: #FF42A5;
  border:none;
}
.btn-primary2{
  padding: 21px 40px;
  border-radius: 48px;
background: #4EC5F7;
border:none;
}
.banner{
  width:100%;
  height:900px;
  display:flex;
  justify-content: space-evenly;
  gap:5px;
}
.banner-description{
  width:900px;
  height: 700px;
  background:url(/images/Group\ 14.png) ;
  text-align: center;
}
.banner-graphics{
margin-right:30px;
}
.b2h3{
color: #0B0223;
text-align:center;
font-size: 48px;
font-weight: 700;
}
.purple{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;
}
.b2description{
  text-align: center;
}
.b2img{
  display:flex;
justify-content:space-evenly;
}
.banner2{
  width:100%;
  height:700px;
}
/* banner 3 */
.b3h3{
font-size: 48px;
font-weight: 700;
}
.newpink{
  color: #FF42A5;
}
.bannerx{
  display:flex;
  height:500px;
  width:90%;
  margin-top:7px;
}
.headingg{
  text-align: right;
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.pp{
  color: #534C64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;

}
.btn-primary11{
  padding: 21px 48px;
  border-radius: 28px;
  background: #FF42A5;
  border:none;
  margin-left:360px;
}
.ss {
  width: 200px;
height:36px;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
text-align: center;
padding-top:12px;
margin-bottom:10px;
}
.aaa{
  padding-top:11px;
}
.bbb{
  padding-top:11px;
}
.elipsis{
  color: #534C64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
}
.spellipsis{
  color: #534C64;
font-size: 32px;
font-weight: 700;
}
.banner3{
  width:90%;
  height:900px;
  display: flex;
  margin-left:100px;
  gap:90px;
  margin-top:10px;
}
.b3description{
  text-align:center;
  padding-top:120px;
}
.b3img{

 width:90%;
}
.inner-img{
  position:relative;
bottom:270px;
right:150px;
}
/* banner 4 */
.newpink2{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem;
font-weight: 700;
}
.banner4{
  width:90%;
  height:900px;
  display: flex;
  margin-left:100px;
  gap:90px;
  margin-top:10px;
}
.b4h3{
  font-size: 48px;
  font-weight: 700;
  }
  .b4img{

      width:90%;
   }
   .inner-img2{
      position:relative;
  bottom:280px;
  left:550px;
}
.b4description{
  text-align:center;
  padding-top:120px;
}
/* banner 5 */
.banner5{
  background-color: #F948B2;
  height:700px;
  width:100%;
  margin-top:10px;
  display:flex;
  justify-content:space-between;
  margin-left: 7px;
  padding-left: 20px;
}
.b5des{
  margin-left:50px;
}
.b5h3{
  color: #FFF;
font-size: 48px;
font-weight: 700;
}
.details , .p{
  display:flex;
 justify-content: space-between;
 gap:50px;
}
.btn{
  display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #FFF;
}
.see{
  
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
color: #FF42A5;
}
.banner6{
  margin-top:5px;
  height:250px;
  width:100%;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  align-items:center;
  margin-left:80px;
  margin-right:80px;
}
.icn3-para{
  display:flex;
  width:180px;
  height:60px;
border-radius: 50px;
background: #FFF;
border:1px solid #FF42A5;
}
.icn-para,.p{
  display:flex;
}
.icn-pera:hover{
  width:213px;
  height:60px;
  border-radius: 40px;
  background: #FFF;
  border:2px solid rgba(8, 111, 190, 0.733);
}
.arcade{
font-size:1rem;
font-weight: 400;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
footer{
  width:100%;
  height: 550px;  
  background: #0B0223;
}
.iconf{
  display:flex;
  justify-content:center;
  padding-top:150px;
}
.fheadgm{
 
  color: #FFF;
  font-size:2rem;
  font-weight: 700;
}
.head-pink1{
  color: #FF42A5;
}
.listitem ul{
  display:flex;
  color: #FFF;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  gap:23px;
}
.listitem  li{
  list-style: none;

}
.filogo{
  color: #FFF;
}
.iconf{
  gap:10px;
}
 
.filogo,.p{
  display:flex;
  justify-content: center;
  gap:20px;
}
.paraf ul{
  display:flex;
  color: rgba(255, 255, 255, 0.60);
  justify-content: center;
  font-size: 1rem;
  font-weight:500;
  gap:15px; 
}
.paraf li{
  list-style: none;

}
.flast{
  color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}
.newwimg{
padding-top:35px;
}
.img3
{
 background:url(/images/Rectangle\ 7.png);
 background-repeat: no-repeat;
 width:342px;
 height:400px;
}
.pnew{
  padding-top: 176px;
  padding-left:25px;
}
.description{
 width:550px;
 height:600px;
}
.arcd{
  text-align: center;
  padding-top:160px;
}
#playb{
  height:50px;
  width:40px;
  color:#de0b8a;
}
.ancr{
  color:#F948B2;
}
@media screen and (max-width:576px)
{
  header{
    padding:20px;
  }
  nav{
flex-direction:column;
  }
  .banner-graphics,.banner-description{
    flex-direction:column;
  }
}